/* Bootstrap elements:
https://bootswatch.com/4/
*/

/* Boxes */
.info2 { /* Blue fill and white text*/
  padding: 10px;
  background-color: #0984e3; 
  color: white;
  margin-bottom: 5px;
}

/* https://github.com/CSSLint/csslint/wiki/Disallow-qualified-headings */
.info2 h4{
   color: white; 
}



/* Remove the sidebar panel border
.well {
  background-color: #fff;
  border-style: none;
}
 */

/* Shiny notification*/

.shiny-notification {
  position:fixed;
  top: calc(2%);;
  left: calc(45%);;
}


#head_filter {
  border: solid #808080 3px;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
}





/* Misc */

img {
  padding-right: 30px;
}

.float-download {
  top: calc(2%);;
  right: calc(1%);;
  padding: 10px;
  z-index: 999999999;
  position: fixed;
}

.left {
  float: left;
}

.cent {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.right {
  float: right;
}

.large {
  font-size: 16px;
}
